
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
}
